// Space Mono
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
        url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

// Lexend Deca

@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
        url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff');
}